html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0 auto;
}

@font-face {
    font-family: 'Roboto-Bold', sans-serif;
    /* Уникальное имя для шрифта */
    src: url('../fonts/Roboto-Bold.ttf') format('ttf');
    /* 700 */
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium', sans-serif;
    /* Уникальное имя для шрифта */
    src: url('../fonts/Roboto-Medium.ttf') format('ttf');
    /* 500 */
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular', sans-serif;
    /* Уникальное имя для шрифта */
    src: url('../fonts/Roboto-Regular.ttf') format('ttf');
    /* 400 */
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Roboto-Medium', sans-serif;
}

/*header*/
.container {
    max-width: 1440px;
    width: 100%;
}

.container__features {
    max-width: 761px;
    min-height: 543px;
    width: 100%;
    margin: 0 auto;
    padding-top: 171px;
}

.about__us {
    color: #3D4F9F;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.reading {
    color: #3D4F9F;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 94px;
}

.features {
    display: flex;
    justify-content: space-between;
}

.overview {
    text-align: center;
    margin: 0;
}

.overview img {
    margin-bottom: 29px;
}

.features__title {
    color: #4074F8;
    font-family: 'Roboto-regular', sans-serif;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 35px;
}

.features__opisanie {
    width: 140px;
    color: #ADB3CB;
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 140px;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 337px;
    gap: 110px;
    margin-bottom: 173px;
}

.more {
    background-color: #FFD7D7;
    color: #D43F3F;
}

.btn {
    width: 113px;
    height: 43px;
    border: none;
    font-family: 'Roboto-Bold', sans-serif;
    font-size: 13px;
    line-height: 15px;
}

.started {
    background-color: #D2E1FF;
    color: #3A79FF;
}

/*stats*/
.stats {
    margin-bottom: 104px;
}

.container__stats {
    display: grid;
    grid-template-columns: 50% 50%;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: end;
    background-color: #6888FF;
    padding-right: 90px;
}

.place {
    width: 100%;
    min-height: 342px;
}

.icon_left {
    padding-top: 64px;
    margin: 0 0 23px 0;

}

.icon_left img {
    width: 65px;
    height: 66px;
}

.title__stats {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 200;
    line-height: 56px;
    margin: 0 0 18px 0;
}

.opis__left {
    margin: 0;
}

.text__stats {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin: 0;
    width: 260px;
    text-align: right;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #E9EFFF;
    padding-left: 90px;
}

.icon_right {
    padding-top: 68px;
    margin: 0 0 23px 0;
}

.icon_right img {
    width: 71px;
    height: 62px;
}

.opis__right {
    margin: 0;
}

.text__stats_right {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    margin: 0;
    width: 260px;
}

.color {
    color: #5E80FF;
}

/*footer*/

.blog {
    margin-bottom: 100px;
}

.container__blog {
    width: 958px;
    height: 548px;  
}

.title {}

.about__us {}

.reading {}

.bot {
    margin-bottom: 94px;
}

.shadow {
    display: flex;
    width: 958px;
    height: 394px;
    box-shadow: 0px 15px 50px 0px rgb(239, 244, 255);
}


.info_blog {
    display: flex;
    flex-direction: row;
    gap: 60px;
    width: 882px;
    align-items: center;
    justify-content: center;
}

.pointer {
    width: 407;
    height: 267px;
    display: grid;
    grid-template-columns: 268px 127px;
    gap: 12.84px;
    margin: 0;
}

.pointer__img {}

.one__p {
    width: 267px;
    height: 267px;
    grid-column: 1;
    /* Занимает первый столбец */
    grid-row: 1 / span 2;
    /* Занимает первую и вторую строки */
    position: relative;
}

.two__p {
    width: 126px;
    height: 126px;
    grid-column: 2;
    /* Занимает второй столбец */
    grid-row: 1;
    /* Занимает первую строку */
    position: relative;
}

.three__p {
    width: 126px;
    height: 126px;
    grid-column: 2;
    /* Занимает второй столбец */
    grid-row: 2;
    /* Занимает вторую строку */
    position: relative;
}

.one__p img {
    width: 267px;
    height: 267px;
    border-radius: 5px;
}

.two__p img {
    width: 126px;
    height: 126px;
    border-radius: 5px;
}

.three__p img {
    width: 126px;
    height: 126px;
    border-radius: 5px;
}

.one__p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(12.99deg, rgba(255, 199, 53, 0.44) 1.916%, rgba(255, 227, 154, 0.93) 1.923%, rgba(255, 159, 90, 0) 68.245%);
    pointer-events: none;
}

.two__p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(27.61deg, rgba(255, 53, 53, 0.48) 14.04%, rgba(255, 179, 90, 0) 68.007%);
    pointer-events: none;
}

.three__p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(13.50deg, rgba(53, 170, 255, 0.68) 11.615%, rgba(90, 136, 255, 0) 96.871%);
    pointer-events: none;
}

.reading__blog {
    max-width: 408px;
    width: 100%;
}

.title__blog {
    color: rgb(61, 79, 159);
    font-size: 36px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    margin-bottom: 36px;
}

.text__blog {
    color: rgb(141, 150, 189);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    margin-bottom: 80px;
}

.now {
    width: 113px;
    height: 43px;
    background: rgb(210, 225, 255);
    border: none;
    color: rgb(58, 121, 255);
font-size: 13px;
font-weight: 700;
line-height: 15px;
}



/*header*/

@media (max-width: 821px) {
    .container {
        max-width: 820px;
        padding: 0 15px;
    }
}

@media (max-width: 631px) {
    .container {
        max-width: 630px;
    }

    .container__features {
        padding-top: 70px;
    }

    .features {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        place-items: center;
    }

    .overview {
        width: 200px;
        height: 254px;
    }

    .features__opisanie {
        margin-bottom: 0;
    }
}

@media (max-width: 400px) {
    .reading {
        margin-bottom: 50px;
    }

    .buttons {
        gap: 20px;
        display: flex;
        flex-direction: column;
        width: auto;
    }
}

/*stats*/

@media (max-width: 751px) {

    .buttons {
        margin-bottom: 70px;
    }

    .container__stats {
        grid-template-columns: 100%;
    }

    .left {
        align-items: center;
        padding: 0;
    }

    .place {}

    .text__stats {
        text-align: center;
    }

    .right {
        align-items: center;
        padding: 0;
    }

    .text__stats_right {
        text-align: center;
    }
}

@media (max-width: 400px) {

    .place {
        min-height: 280px;
    }

    .icon_left {
        padding-top: 34px;
    }

    .icon_left img {
        width: 55px;
        height: 56px;
    }

    .title__stats {
        font-size: 38px;
    }

    .icon_right {
        padding-top: 38px;
    }

    .icon_right img {
        width: 61px;
        height: 52px;
    }
}